@import url("https://fonts.googleapis.com/css?family=Lato:100");
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	width:915px;
	margin:0 auto;
	color: white;
	background: linear-gradient(-45deg,rgb(153, 6, 1), #02165a, #f1d42d, #583301);
	background-size: 400% 400%;
	position: relative;
	animation: change 15s ease-in-out infinite;

	}
h1{
	text-align:center;
	font-size: 3rem;
	text-transform: uppercase;
	border: 3px solid white;
	}

@keyframes change{
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}	
form{
	width:915px;
	margin: auto;
}
img{
	width:40px;
	height:30px;
}